body {
  background: black;
  font-family: "Times New Roman", Times, serif;
}
a {
  text-decoration: none;
  color: white;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-header);
  height: var(--header-height);
  padding: 0 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: rgb(138, 27, 27);
}

.header-logo {
  height: 110px;
}

img {
  height: 230px;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}
h1 {
  font-size: 25px;
  font-weight: bolder;
  color: white;
  text-decoration: underline;
  margin-bottom: 10px;
}

.card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 235px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.offer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  width: 1280px;
}
.imageC {
  height: 400px;
}

.nameC {
  padding-right: 300px;
}

.offer-container2 {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 1280px;
}
p {
  font-weight: lighter;
  font-size: 18px;
  font-style: oblique;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-left: 400px;
  color: black;
}

.search-input {
  background-color: #c38d8d;
  border: black 2px solid;
  border-radius: 5px;
  font-family: Maison Neue;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}

h2 {
  color: white;
  font-size: 25px;
  font-weight: 10px;
}

@media (max-width: 1140px) {
  body {
    /* background-color: orange; */
  }

  .search-input {
    background-color: #c38d8d;
    border: black 2px solid;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 16px;
    height: 37px;
    outline: none;
    padding-left: 40px;
    width: 590px;
  }

  .search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding-left: 290px;
    color: black;
  }
}

@media (max-width: 1024px) {
  body {
    /* background-color: lightgreen; */
  }

  .search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding-left: 190px;
    color: black;
  }
}

@media (max-width: 768px) {
  body {
    /* background-color: lightskyblue; */
  }

  .search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    padding-left: 20px;
    color: black;
  }

  .search-input {
    background-color: #c38d8d;
    border: black 2px solid;
    border-radius: 5px;
    font-family: Maison Neue;
    font-size: 16px;
    height: 37px;
    outline: none;
    padding-left: 40px;
    width: 400px;
  }
}
